<!-- here, we need to extend the base template (base.html)-->

{% extends "base.html" %} <!-- this html here will be exact copy of base.html and we can over-ride any block which were defined in base.html-->

<!-- following will change the title block.-->
{% block title %} 
    Changed Home
{% endblock %}

{% block content %} 
    {# code for generating notes or show all notes #}
    <h1 align="center">
        Notes
    </h1>
    {# List Group which allows us to show all notes #}
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes%}
            {#display notes data #}
            <li class="list-group-item"> {{ note.data }} </li>
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="note" id="note" class="form-control">
        </textarea>
        <br/>
        {# creating button #}
        <div align="center">
            <button type="submit" class="btn btn-primary">
                Add Note
            </button>
        </div>
    </form>
{% endblock%}