{% extends "base.html" %}

{% block title %} Log In {% endblock %}
{% block content %} 
    <!--POST: when we submit this form, send a POST request to backend-->
    <form method="POST">
        <h3 align = "center" > Log IN </h3>
        <div class = "form-group"><!--form-group is Bootstrap class-->
            <label for="email"> Email Address </label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name = "email" 
                placeholder="Enter Email."
            /> <!--form control is again a bootstrap class-->
            <!--id is optional but it will link label with input field-->
            <!--name: attribute will be called by this name when we pass the info in this field to our backend.-->
            <!--When we submit this form it will bundle up all this info here and willl use name here to represent all this info. -->
            <!--name should always be same as id.-->
            <label for="password"> Password </label>
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name = "password" 
                placeholder="Enter Password."
            />
        </div>
        <br /> <!--adding a break line to seperate the button-->
        <button type="submit" class="btn btn-primary"> Login </button>
    </form>
{% endblock %}